    <div class="flex justify-center grid-cols-3 space-x-2 md" ><button 
         type="button" 
         class="bg-yellow-600 hover:bg-yellow-500 text-white font-bold py-2 px-4 rounded-lg shadow-md transition-all duration-150 font-serif text-lg tracking-wider" 
        (click)="add()"
         >
       +
        </button>
           <button 
         type="button" 
         class="bg-yellow-600 hover:bg-yellow-500 text-white font-bold py-2 px-4 rounded-lg shadow-md transition-all duration-150 font-serif text-lg tracking-wider" 
        (click)="subtract()"
         >
       -
        </button>
         <p class="text-center mt-2 font-bold text-white">Cantidad: {{cantidad}} </p>
</div>  
