<div>
        <img class="h-auto max-w-full rounded-lg" [src]="imageUrl()" alt="">
        <p class="text-center mt-2 text-white font-bold">ID Comida: {{idmeal()}}</p>
        <p class="text-center mt-2 font-bold text-white">Plato : {{nameMeal()}}</p>
        <p class="text-center mt-2 font-bold text-white">Categoria: {{category()}}</p>
         <p class="text-center mt-2 font-bold text-white">Precio: ${{idmeal()}}</p>
         <button 
         type="button" 
         class="bg-yellow-600 hover:bg-yellow-500 text-white font-bold py-2 px-4 rounded-lg shadow-md transition-all duration-150 font-serif text-lg tracking-wider" 
        
         >
       +
        </button>
           <button 
         type="button" 
         class="bg-yellow-600 hover:bg-yellow-500 text-white font-bold py-2 px-4 rounded-lg shadow-md transition-all duration-150 font-serif text-lg tracking-wider" 
        
         >
       -
        </button>

    </div>
