<!-- <div>
  <img class="h-auto max-w-full rounded-lg" [src]="producto().strMealThumb || producto().strDrinkThumb" alt="{{ producto().strMeal || producto().strDrink }}">
  <p class="text-center mt-2 text-white font-bold">ID: {{ producto().idMeal || producto().idDrink }}</p>
  <p class="text-center mt-2 font-bold text-white">Nombre: {{ producto().strMeal || producto().strDrink }}</p>
  <p class="text-center mt-2 font-bold text-white">Categoría: {{ producto().strCategory || producto().strAlcoholic }}</p>
  <p class="text-center mt-2 font-bold text-white">Precio: ${{ producto().idMeal || '---' }}</p>
 

  <counter-component [producto]="producto()" (addToCart)="agregarProducto($event)"></counter-component>
</div> -->
 <!-- <counter-component [producto]="producto()"/> -->
<div>
  <img class="h-auto max-w-full rounded-lg" [src]="producto().imageUrl" alt="{{ producto().name  }}">
  <p class="text-center mt-2 text-white font-bold">ID: {{ producto().id  || '---' }}</p>
  <p class="text-center mt-2 font-bold text-white">Nombre: {{ producto().name || '---' }}</p>
  <p class="text-center mt-2 font-bold text-white">Categoría: {{ producto().category  || loadedCategory()}}</p>
  <p class="text-center mt-2 font-bold text-white">Precio: ${{ producto().price || '---' }}</p>
  <counter-component [producto]="producto()"></counter-component>
</div>

